html, body {
    height: 100%;
    margin: 0;
    font-family: 'Lato', 'Advent Pro', sans-serif;
}

.hero-image {
    background-image: url("../assets/top_dos_header_bg.png");
    width: auto;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

h1 {
    font-family: 'Advent Pro', sans-serif;
    font-size: 2.5em;
}

h1 span {
    font-style: italic;
    color: #D89514;
}

.hero-text {
    text-align: left;
    position: absolute;
    top: 45%;
    left: 10%;
    color: white;
}

.hero-text p {
    font-size: 1.5em;
}

.btn-book {
    background-color: transparent;
    border: 3px solid #D89514;
    color: white;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.25em;
    border-radius: 5px;
    transition-duration: 0.2s;
}

.btn-book:hover {
    background-color: #D89514;
}

.navbar{
    overflow: hidden;
    padding: 20px 30px 0px 30px;
}

.navbar a {
    float: left;
    color: #D89514;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.navbar-right {
    float: right;
    padding-top: 40px;
}

@media screen and (max-width: 500px) {
    .navbar {
        background-color: #1d1605;
        padding: 0px 30px 0px 10px;
    }

    .navbar a {
        float: none;
        display: block;
        text-align: left;
    }

    .navbar-right {
        float: none;
    }
}